a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--pure-white);
  background-color: transparent;
  border: 2px solid var(--nvidia-green);
}