a.navbar-brand[b-pjeea7wfyj] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-pills .nav-link.active[b-pjeea7wfyj], .nav-pills .show > .nav-link[b-pjeea7wfyj] {
  color: var(--pure-white);
  background-color: transparent;
  border: 2px solid var(--nvidia-green);
}