@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-hero mb-4">@ViewData["Title"]</h1>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">隱私權政策</h5>
                    </div>
                    <div class="card-body">
                        <p class="body-small">本網站尊重並保護您的隱私權。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>